
@{
    ViewBag.Title = "perfil";
}

<h2>Perfil</h2>
<div class="modal" tabindex="-1" role="dialog" id="modal-cliente">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Colaborador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="vendedor-campo-nome">Nome</label>
                    <input id="vendedor-campo-nome" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="vendedor-campo-telefone">Telefone</label>
                    <input id="vendedor-campo-telefone" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="vendedor-campo-Habilitacao">Habilitação</label>
                    <input id="vendedor-campo-habilitacao" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="vendedor-campo-cpf">CPF</label>
                    <input id="vendedor-campo-cpf" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="vendedor-campo-cep">CEP</label>
                    <input id="vendedor-campo-cep" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="vendedor-campo-veiculo">Veículo</label>
                    <input id="vendedor-campo-veiculo" class="form-control" name="campo-veiculo">
                      
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

