
@{
    ViewBag.Title = "Index";
}

<h3 class="text-center text-info mb-3 mt-3">Lista Notas Fiscais</h3>
<title>Lista Nota Fiscal</title>

<table class="table table-striped table-hover table-bordered" id="notas_fiscais-index">
    <thead>
        <tr>
            <th>Código</th>
            <th>Venda</th>
            <th>Valor Final</th>
        </tr>
    </thead>
</table>