
@{
    ViewBag.Title = "Vendedor";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div>

    <h2 class="text-center">Vendedor</h2>
    <button data-toggle="modal" data-target="#modal-rota"
            class="btn btn-primary float-right mb-2">
        Novo Vendedor
    </button>

    <table id="vendedor-tabela" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Usuario</th>
                <th>Veiculo</th>
                <th>Ação</th>
            </tr>
        </thead>
    </table>
</div>
    @RenderPage("VendedorModal.cshtml")
    @section js{
        <script src="~/Scripts/Vendedor/Vendedor.js"></script>
    }

