
@{
    ViewBag.Title = "Vendedor";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<h3 class="text-center mb-3 mt-3 text-info">Vendedor</h3>
<title>Lista de vendedor</title>


<table id="vendedor-index" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Usuario</th>
            <th>Veiculo</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

@section js{
    <script src="~/Scripts/Vendedor/Vendedor.js"></script>
}

