<div class="modal" tabindex="-1" role="dialog" id="modal-vendedor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro Vendedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="veiculo-campo-nome">Nome</label>
                    <input type="text" id="vededor-campo-nome" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="vendedor-campo-veiculo">Veiculo</label>
                    <select class="form-control" id="vendedor-campo-veiculo" name="idModelo"></select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="modelo-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

