<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MCSS - Company</title>

    <link href="~/Content/login/css/login.css" rel="stylesheet" type="text/css">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/theme/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/theme/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/pickers/daterangepicker.js"></script>

    <script src="~/Content/theme/assets/js/app.js"></script>
    <script src="~/Content/js/lang.js"></script>
    <script src="~/Content/theme/global_assets/js/demo_pages/dashboard.js"></script>
    <!-- /theme JS files -->
    @RenderSection("css", false)
</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-light">

        <!-- Header with logos -->
        <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
            <div class="navbar-brand navbar-brand-md">
                <div href="index.html">
                    <img src="~/Content/theme/global_assets/images/logo_light.png" alt="" />
                </div>
            </div>

            <div class="navbar-brand navbar-brand-xs">
                <a href="index.html" class="d-inline-block">
                    <img src="~/Content/theme/global_assets/images/logo_icon_light.png" alt="">
                </a>
            </div>
        </div>
        <!-- /header with logos -->
        <!-- Mobile controls -->
        <div class="d-flex flex-1 d-md-none">
            <div class="navbar-brand mr-auto">
                <a href="index.html" class="d-inline-block">
                    <img src="~/Content/theme/global_assets/images/logo_dark.png" alt="">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>

            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <!-- /mobile controls -->
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            <span class="badge badge-pill ml-md-3 mr-md-auto"> </span>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img id="imgLANG" src="~/Content/theme/global_assets/images/lang/br.png" class="img-flag mr-2" alt=""><span id="langAtual">Português</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a id="btnPT" href="#" class="dropdown-item portuguese active"><img src="~/Content/theme/global_assets/images/lang/br.png" class="img-flag" alt=""><span id="ptLang">Português</span> </a>
                        <a id="btnEN" href="#" class="dropdown-item english"><img src="~/Content/theme/global_assets/images/lang/gb.png" class="img-flag" alt=""><span id="enLang">Inglês</span> </a>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/theme/global_assets/images/placeholders/user.png" class="rounded-circle mr-2" height="34" alt="">
                        <span>Rodrigo</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="conta/perfil" class="dropdown-item"><i class="icon-user-plus"></i> Meu Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a href="conta/config" class="dropdown-item"><i class="icon-cog5"></i> <span id="configText">Configurações da Conta</span> </a>
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> <span id="sairText">Sair</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /navbar content -->

    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <a href="conta/perfil"><img src="~/Content/theme/global_assets/images/placeholders/user.png" width="38" height="38" class="rounded-circle" alt=""></a>
                            </div>

                            <div class="media-body">
                                <div class="media-title font-weight-semibold">Rodrigo Sousa Cunha</div>
                                <div class="font-size-xs opacity-50">
                                    <i class="icon-pin font-size-sm"></i> &nbsp;Blumenau - SC, Brasil
                                </div>
                            </div>

                            <div class="ml-3 align-self-center">
                                <a href="/conta/config" class="text-white"><i class="icon-cog3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Menu</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a href="/" class="nav-link active"><i class="fas fa-suitcase"></i><span id="inicioText">Início</span></a>
                        </li>
                        <!-- Usuário -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-user"></i> <span id="usuarioText">Usuário</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Usuário">
                                <li class="nav-item"><a href="/usuario/index" class="nav-link active">Lista</a></li>
                                <li class="nav-item"><a href="/usuario/cadastro" class="nav-link active">Cadastro</a></li>
                            </ul>
                        </li>
                        <!-- /Usuário -->
                        <!-- Categoria -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-clipboard"></i><span id="categoriaText">Categoria</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Categoria">
                                <li class="nav-item"><a href="/categoria/index" class="nav-link active">Lista</a></li>
                                <li class="nav-item"><a href="/usuario/cadastro" class="nav-link active">Cadastro</a></li>
                            </ul>
                        </li>
                        <!-- /Categoria -->
                        <!-- Cliente -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-user-tie"></i><span>Cliente</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Cliente">
                                <li class="nav-item"><a href="/cliente/index" class="nav-link active">Lista</a></li>
                                <li class="nav-item"><a href="/cliente/cadastro" class="nav-link active">Cadastro</a></li>
                            </ul>
                        </li>
                        <!-- /Cliente -->
                        <!-- Veículo -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-truck"></i><span id="veiculoText">Veículos</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Veículo">
                                <li class="nav-item"><a href="/veiculo/index" class="nav-link">Lista</a></li>
                                <li class="nav-item"><a href="/veiculo/cadastro" class="nav-link active">Cadastro</a></li>
                            </ul>
                        </li>
                        <!-- /Veículo -->
                        <!-- Rota -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-road"></i><span>Rota</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Rota">
                                <li class="nav-item"><a href="/rota/index" class="nav-link">Lista</a></li>
                                <li class="nav-item"><a href="/rota/cadastro" class="nav-link">Cadastro</a></li>
                            </ul>
                        </li>
                        <!-- /Rota-->
                        <!-- Produto-->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-box-open"></i><span id="produtoText">Produto</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Produto">
                                <li class="nav-item"><a href="/produto/index" class="nav-link">Lista</a></li>
                                <li class="nav-item"><a href="/produto/cadastro" class="nav-link">Cadastro</a></li>
                            </ul>
                        </li>
                        <!-- /Produto-->
                        <!-- Vendedor -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="far fa-address-card"></i><span>Vendedor</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Vendedor">
                                <li class="nav-item"><a href="/vendedor/index" class="nav-link">Lista</a></li>
                                <li class="nav-item"><a href="/venderor/cadastro" class="nav-link">Cadastro</a></li>
                            </ul>
                        </li>
                        <!-- /Vendedor-->
                        <!-- Venda -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-suitcase"></i><span>Venda</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Venda">
                                <li class="nav-item"><a href="/venda/index" class="nav-link">Lista</a></li>
                                <li class="nav-item"><a href="/venda/cadastro" class="nav-link">Cadastro</a></li>
                                <li class="nav-item"><a href="/notafiscal/index" class="nav-link">Nota Fiscal</a></li>
                            </ul>
                        </li>
                        <!-- /Venda-->
                        <!-- /main -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content header-elements-md-inline">
                    <div class="page-title d-flex">
                        <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span></h4>
                        <a href="index.html" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>
            </div>
            <!-- /Page header-->
            <!-- Content area -->
            <div class="content pt-0">

                <!-- Main charts -->
                <div class="row">
                    @RenderBody()
                </div>
                <!-- /main charts -->
            </div>

            <div class="col-xl-4">
                <!-- Progress counters -->
                <div class="row">
                    <div class="col-sm-6"></div>
                </div>
                <!-- /progress counters -->
            </div>
        </div>
        <!-- /dashboard content -->
        <!-- /Content area -->
        <!-- Inserir código abaixo -->
        <!-- Inserir código acima -->
    </div>
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
                    data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; 2019 - MCSS Company
            </span>
        </div>
    </div>
</body>
</html>
@RenderSection("js", false)
