<link href="~/Content/theme/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css" />

<div class="modal bounceInDown animated" tabindex="-1" role="dialog" id="modal-marca">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@View.Resources.Resource.CadastrodeMarca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="marca-campo-nome">@View.Resources.Resource.Nome</label>
                    <input id="marca-campo-nome" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="rubberBand animated animated btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> @View.Resources.Resource.Cancelar</button>
                <button id="marca-botao-salvar" type="button" class="rubberBand animated btn btn-success"><i class="fas fa-save"></i>  @View.Resources.Resource.Salvar</button>
            </div>
        </div>
    </div>
</div>