<div class="modal bounceInDown animated" tabindex="-1" role="dialog" id="modal-marca-editar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-truck"></i> @View.Resources.Resource.Marca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="marca-campo-nome-editar">@View.Resources.Resource.Nome<span class="text-danger">*</span></label>
                    <input id="marca-campo-nome-editar" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="rubberBand animated animated btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> @View.Resources.Resource.Cancelar</button>
                <button id="marca-botao-editar" type="button" class="rubberBand animated btn btn-success"><i class="fa fa-check"></i>  @View.Resources.Resource.Salvar</button>
            </div>
        </div>
    </div>
</div>