
@{
    ViewBag.Title = "Usuário";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div>

    <h2 class="text-center">Usuários</h2>


    <a class="btn btn-primary mb-3 float-right" href="/venda/cadastro">Novo Usuário</a>
    <table id="usuario-tabela" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Senha</th>
                <th>Ação</th>
            </tr>
        </thead>
    </table>
</div>



@section js{
    <script src="~/Scripts/Usuario/usuario.js">
    </script>
}

