
@{
    ViewBag.Title = "Usuário";
}

<div>

<h2>Usuários</h2>

<table id="usuario-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Senha</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
</div>


@section js{
    <script src="~/Scripts/Usuario/usuario.js">
    </script>
}

