
@{
    ViewBag.Title = "Usuário";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div class="table-responsive">

    <h2 class="text-center">Usuários</h2>


    <button data-toggle="modal" data-target="#modal-usuario"
            class="btn btn-primary float-right mb-2">
        <i class="fas fa-plus"></i>  Novo Usuário
    </button>
        <table id="usuario-tabela" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Senha</th>
                    <th>Ação</th>
                </tr>
            </thead>
        </table>
</div>


@RenderPage("UsuarioModal.cshtml")

@section js{
    <script src="~/Scripts/Usuario/usuario.js">
    </script>
}

