
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>

<body>
    <div class="form-group">
        <div class="col-6">
            <form action="/cliente/cadastro" method="post">
                <div class="form-group">
                    <label for="campo-nome">Nome</label>
                    <input id="cliente-campo-nome" nome="campo-nome" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <label for="campo-telefone">Telefone</label>
                    <input id="cliente-campo-telefone" nome="campo-telefone" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <label for="campo-cnpj">CNPJ</label>
                    <input id="cliente-campo-nome" nome="campo-nome" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <label for="campo-cpf">CPF</label>
                    <input id="cliente-campo-cpf" nome="campo-cpf" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <label for="campo-cep">CEP</label>
                    <input id="cliente-campo-cep" nome="campo-cep" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <label for="campo-nome">Vendedor</label>
                    <input id="cliente-campo-vendedor" nome="campo-vendedor" type="text" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <button id="entrar" type="submit" class="btn btn-success btn-block">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
