@{
    ViewBag.Title = "Exibição de Clientes";
    <title>Clientes - MCSS</title>
    }

<h3 class="text-center  mb-3 mt-3 text-info">Lista de Clientes</h3>
<button data-toggle="modal" data-target="#modal-cliente" class="btn btn-primary mb-3 mt-3 float-right">Novo Cliente</button>
<table id="clientes-tabela" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>telefone</th>
            <th>CNPJ</th>
            <th>CEP</th>
            <th>Vendedor</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("ClienteModal.cshtml")
@section js{
    <script src="~/Scripts/Cliente/cliente.js"></script>
}

