@{
    ViewBag.Title = "Cliente";
    <title>Clientes - MCSS</title>
    }

<h3 class="text-center  mb-3 mt-3 text-info">Lista de Clientes</h3>
<table id="clientes-tabela" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>telefone</th>
            <th>CNPJ</th>
            <th>CEP</th>
            <th>Vendedor</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

@section js{
    <script src="~/Scripts/Cliente/cliente.js"></script>
}

