
@{
    ViewBag.Title = "Cadastro";
}

<form action="/categoria/cadastro" method="post">
    <h2>Cadastro Categoria</h2>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="categoria-nome">Nome</label>
                <input nome="categoria-nome" id="campo-categoria-nome" type="text" class="form-control" style="width:300px " required="required">
            </div>
        </div>
        <div class="col-12">
            <button id="entrar" type="submit" class="btn btn-success mt-3 mb-3">Salvar</button>
        </div>
    </div>
</form>