@{
    ViewBag.Title = "Categoria";
}

<h3 class="text-center mb-3 mt-3 text-info">Lista de Categorias</h3>
<title>Lista de Categoria</title>


<table id="categoria-tabela" class="table table-hover table-striped table-bordered" >
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

@section js{
    <script src="~/Scripts/Categoria/categoria.js"></script>
}