@{
    ViewBag.Title = "Categoria";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div>

    <h2 class="text-center">Categorias</h2>
    <a class="btn btn-primary mb-3 float-right" href="/venda/cadastro">Nova Categoria</a>

    <table id="categoria-tabela" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </thead>
    </table>
</div>
    @section js{
        <script src="~/Scripts/Categoria/categoria.js"></script>
    }
