
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro de Veiculos</h2>
<table class="table table-bordered table-hover table-striped" id="veiculo-tabela">
    <thead>
        <tr>
            <th>Código</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano Fabricação</th>
            <th>Número Caminhão</th>
            <th>Placa</th>
            <th>Ação</th>
        </tr>
    </thead>
    
</table>
<div>
    <thead class="text-md-right  mb-3 mt-3">

        <tr>
            <th>

                <li class="btn btn-button-salvar  btn-success btn-float">Salvar</li>
                <li class="btn btn-button-salvar btn-outline-danger btn-float ">Apagar</li>
            </th>
        </tr>

    </thead>
</div>