
@{
    ViewBag.Title = "Veículo";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />

<div class="table responsive">

    <h2 class="text-center">Veículos</h2>
    <button data-toggle="modal" data-target="#modal-veiculo"
            class="btn btn-primary float-right mb-2">
        <i class="fas fa-plus"></i> Novo Veículo
    </button>

    <table class="table table-bordered table-hover table-striped" id="veiculo-tabela">
        <thead>
            <tr>
                <th>Código</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano Fabricação</th>
                <th>Número Caminhão</th>
                <th>Placa</th>
                <th>Ação</th>
            </tr>
        </thead>
    </table>
</div>
@RenderPage("VeiculoModal.cshtml")

@section js{
    <script src="~/Scripts/Veiculo/veiculo.js"></script>
   
    <script type="text/javascript" src="~/Scripts/Mascaras/Mask.js"></script>
}
