
@{
    ViewBag.Title = "Index";
}

<h3>Lista de Veiculos</h3>
<title>MCC-Veiculos</title>

<button class="btn btn-primary mb-3 mt-3 float-right"
        href="/veiculo/cadastro">Novo</button>

<table class="table table-bordered table-hover table-striped" id="veiculos-index">
    <thead>
        <tr>
            <th>Código</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano Fabricação</th>
            <th>Número Caminhão</th>
            <th>Placa</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>


