
@{
    ViewBag.Title = "Veículo";
}


<h2>Veículos</h2>


<table class="table table-bordered table-hover table-striped" id="veiculo-tabela">
    <thead>
        <tr>
            <th>Código</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano Fabricação</th>
            <th>Número Caminhão</th>
            <th>Placa</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>



@section js{
    <script src="~/Scripts/Veiculo/veiculo.js"></script>
}
