<div class="modal" tabindex="-1" role="dialog" id="modal-veiculo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro Veiculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="veiculo-campo-placa">Placa</label>
                    <select class="form-control" id="veiculo-campo-placa"></select>
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-modelo">Categoria</label>
                    <select class="form-control" id="veiculo-campo-modelo" name="idModelo"></select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="veiculo-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>


