
@{
    ViewBag.Title = "Cadastro de veiculos";
}

<title>Cadastro de Veiculos</title>
<h3 class="text-center mb-3 mt-3 text-info">Cadastro de Veiculos</h3>
<form action="Cadastro" method="post">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-placa">Placa</label>
                <input type="text" name="placa" class="form-control" id="campo-placa" data-mask="aaa-9999" data-mask-selectonfocus="true" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-modelo">Modelo</label>
                <select class="form-control" name="modelo">
                    <option disabled="disabled" selected="selected">Selecione um Modelo</option>
                    @foreach (Model.Veiculo veiculo in ViewBag.Veiculo)
                    {
                        <option value="@veiculo.Id">@veiculo.Modelo</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right"><i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
    </form>

