<div class="modal" tabindex="-1" role="dialog" id="modal-veiculo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Veículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="veiculo-campo-marca">Marca</label>
                    <select class="form-control" id="veiculo-campo-marca" name="campo-marca">
                        <option disabled="disabled" selected="selected">Selecione uma marca</option>
                        @foreach(Model.Marca marca in ViewBag.Marcas)
                        {
                            <option value="@marca.Id">@marca.Nome</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-modelo">Modelo</label>
                    <input class="form-control" name="campo-modelo" id="veiculo-campo-modelo" type="text" required="required">
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-anofabricacao">Ano de fabricação</label>
                    <input class="form-control" name="campo-anofabricacao" id="veiculo-campo-anofabricacao" type="number" min="1945" max="2020" required="required">
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-numerocaminhao">Numero Do Caminhão</label>
                    <input class="form-control" name="campo-numerocaminhao" id="veiculo-campo-numerocaminhao" type="text" required="required" />
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-placa">Placa</label>
                    <input class="form-control" name="campo-placa" id="veiculo-campo-placa" type="text" required="required" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" class="btn btn-success"><i class="fas fa-save"></i>  Salvar</button>
            </div>
        </div>
    </div>
</div>
