@{
    ViewBag.Title = "Rota";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div>

    <h2 class="text-center">Rotas</h2>
    <a class="btn btn-primary mb-3 float-right" href="/venda/cadastro">Nova Rota</a>

    <table id="rota-tabela" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Vendedor</th>
                <th>Ação</th>
            </tr>
        </thead>
    </table>
</div>




@section js{
    <script src="~/Scripts/Rota/rota.js">
    </script>
}
