@{
    ViewBag.Title = "Rota";
}


<h2>Rotas</h2>


<table id="rota-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>




@section js{
    <script src="~/Scripts/Rota/rota.js">
    </script>
}
