
@{
    ViewBag.Title = "Cadastro";
}

<h3>Cadastro de Venda</h3>

<form action="/venda/cadastro" method="post">

    <div class="row">
        <div class="col-12">
            <div class="form-group">

            </div>
        </div>
    </div>
</form>
