@{
    ViewBag.Title = "Index";
}

<h2>Lista de Vendas</h2>

<a class="btn btn-primary mb-3" href="/venda/cadastro">Novo</a>

<table class="table table-striped table-bordered table-hover" id="vendas-index">
    <thead>
        <tr>
            <th>Código</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>