
<div class="modal" tabindex="-1" role="dialog" id="modal-venda">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro Venda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="venda-campo-quantidade">Quantidade</label>
                    <input type="number" class="form-control" id="venda-campo-quantidade"></input>
                </div>
                <div class="form-group">
                    <label for="venda-campo-vendedor">Vendedor</label>
                    <select class="form-control" id="venda-campo-vendedor" name="idVendedor"></select>
                </div>
                <div class="form-group">
                    <label for="venda-campo-cliente">Cliente</label>
                    <select class="form-control" id="venda-campo-cliente" name="idCliente"></select>
                </div>
                <div class="form-group">
                    <label for="venda-campo-produto">Produto</label>
                    <select class="form-control" id="venda-campo-produto" name="idProduto"></select>
                </div>
                <div class="form-group">
                    <label for="venda-campo-total">Total</label>
                    <input type="text" class="form-control" id="venda-campo-total"></input>
                </div>
                <div class="form-group">
                    <label for="venda-campo-desconto">Desconto</label>
                    <input type="text" class="form-control" id="venda-campo-desconto"></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="venda-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>


