
@{
    ViewBag.Title = "Index";
}

<h3>Lista de Produtos</h3>
<title>MCC-Produtos</title>

<button class="btn btn-primary mb-3 mt-3 float-right" href="/produto/cadastro">Novo</button>

<table class="table table-striped table-bordered table-hover" id="produtos-index">
    <thead>
        <tr>
            <th>Código</th>
            <th>Categoria</th>
            <th>Código Barra</th>
            <th>Quantidade Produtos</th>
            <th>Valor Unitario</th>
        </tr>
    </thead>
</table>
@RenderPage("ProdutoModal.cshtml")
@section js{
    <script src="~/Scripts/Produto/"></script>
    }