
@{
    ViewBag.Title = "Produto";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div>

    <h2 class="text-center">Produtos</h2>
    <a class="btn btn-primary mb-3 float-right" href="/venda/cadastro">Novo Produto</a>

    <table id="produto-tabela" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Código Barra</th>
                <th>Quantidade Produtos</th>
                <th>Valor Unitario</th>
            </tr>
        </thead>
    </table>
</div>

@section js{
    <script src="~/Scripts/Produto/produto.js"></script>
}