
@{
    ViewBag.Title = "Produto";
}

<h3>Lista de Produtos</h3>
<title>MCC-Produtos</title>


<table class="table table-striped table-bordered table-hover" id="produto-tabela">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Código Barra</th>
            <th>Quantidade Produtos</th>
            <th>Valor Unitario</th>
        </tr>
    </thead>
</table>

@section js{
    <script src="~/Scripts/Produto/produto.js"></script>
    }