<div class="modal" tabindex="-1" role="dialog" id="modal-produto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="produto-campo-codigo-barra">Código de Barra</label>
                    <select class="form-control" id="produto-campo-codigo-barra"></select>
                </div>
                <div class="form-group">
                    <label for="produto-campo-valor-unitario">Valor Unitario</label>
                    <input type="number" id="produto-campo-valor-unitario" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="produto-campo-categoria">Categoria</label>
                    <select class="form-control" id="produto-campo-categoria" name="idCategoria"></select>
                </div>
                <div class="form-group">
                    <label for="produto-campo-valor-unitario">Valor Unitario</label>
                    <input type="text" id="produto-campo-valor-unitario" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="produto-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

