<div class="modal" tabindex="-1" role="dialog" id="modal-produto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="produto-campo-nome">Nome</label>
                    <input id="produto-campo-nome" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="produto-campo-categoria">Categoria</label>
                            <select class="form-control"
                                    name="produto-campo-categoria">
                                <option disabled="disabled"
                                        selected="selected">
                                    Selecione uma categoria
                                </option>
                                @foreach (Model.Categoria categoria in ViewBag.Categorias)
                                {
                                    <option value="@categoria.Id">@categoria.Nome</option>
                                }

                            </select>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="produto-campo-codigobarra">Código de Barra</label>
                    <input id="produto-campo-codigobarra" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="produto-campo-quantidade">Quantidade</label>
                    <input type="number" id="produto-campo-quantidade" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="produto-campo-valor">Valor</label>
                    <input id="produto-campo-valor" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" class="btn btn-success"><i class="fas fa-save"></i>  Salvar</button>
            </div>
        </div>
    </div>
</div>