
@{
    ViewBag.Title = "Contato";

}

<h3>Contato</h3>

<body>
    <div class="form-group">
        <div class="form-control">
            <label for="campo-nome" id="contato-campo-nome">Nome</label>
            <input type="text" name="campo-nome" id="contato-campo-nome" />
        </div>
        <div class="form-control">
            <label for="campo-sobrenome" id="contato-campo-sobrenome">Sobrenome</label>
            <input type="text" name="campo-sobrenome" id="contato-campo-sobrenome" />
        </div>
    </div>
</body>


