
@{
    ViewBag.Title = "Contato";

    @*nome, sobrenome, numero, titulo, mensagem, e-mail*@

}
<body id="contato-index">
    <legend>
        <span style="font-weight:bold" class="h3">Contato</span>
    </legend>
    <div class="modal-body">
        <div class="form-group">
            <label style="font-weight:bold" for="campo-nome">Nome</label>
            <input class="form-control border-dark" type="text" name="campo-nome" id="contato-campo-nome" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="campo-sobrenome">Sobrenome</label>
            <input class="form-control border-dark" type="text" name="campo-sobrenome" id="contato-campo-sobrenome" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="campo-numero">Telefone</label>
            <input class="form-control border-dark" type="text" name="campo-telefone" id="contato-campo-telefone" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="campo-email">Seu E-mail</label>
            <input class="form-control border-dark" type="text" name="campo-email" id="contato-campo-email" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="campo-titulo">Título</label>
            <input class="form-control border-dark" type="text" name="campo-titulo" id="contato-campo-titulo" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="campo-mensagem">Mensagem</label>
            <textarea class="form-control border-dark" type="text" name="campo-mensagem" id="contato-campo-mensagem"></textarea>
        </div>
        <div class="form-group">
            <button id="contato-botao-enviar" class="btn btn-primary float-right" type="submit"><i class="fas fa-file-import"></i>  @View.Resources.Resource.Enviar</button>
        </div>
    </div>
    <legend></legend>
</body>

@section js{
    <script src="~/Scripts/Contatos/contato.js"></script>
    <script type="text/javascript" src="~/Scripts/Mascaras/Mask.js"></script>
}