
@{
    ViewBag.Title = "Home";
}

<body class="background-usuarios-img">

    <div class="jumbotron text-center mt-4">
        <h1 class="display-4">Bem Vindo</h1>
        <p class="lead"> Nosso software foi desenvolvido para atuar facilitando o trabalho de entrada e saída de mercadorias de uma transportadora ou estoque em geral.</p>
        <hr class="my-4">
        <p>
            O modo de usar baseia-se na facilidade de cadastro na hora de receber mercadorias incluindo através da leitura do codigo de barras, incluido-o assim em um banco de dados que fará a contagem da mercadoria e exibindo-a em telas, a quantidade disponivel em estoque sendo atualizado a cada movimentação, também no momento da retirada da mercadoria o próprio sistema atuará para atualizar o banco de dados.

            A leitura poderá ser feita a partir de um aparelho celular por um AppMobile que irá mandar informações através da nuvem para o sistema facilitando a inclusão de dados através da camera do dispositivo que registrará o codigo de barras no banco de dados.

            O sistema busca empregar rapidez aos processos citados com a facilidade de um smartphone em suas mãos.</p>
        @*<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>*@
    </div>
</body>


