
@{
    ViewBag.Title = "Home";
}

<body class="background-usuarios-img">

    <div class="jumbotron text-center mt-4">
        <h1 class="display-4">Bem Vindo!</h1>
        <p class="lead"> Nosso software foi desenvolvido para atuar facilitando o trabalho de entrada e saida de mercadorias de uma transportadora ou estoque em geral..</p>
        <hr class="my-4">
        <p>
            O modo de usar se basea na facilidade de cadatros na hora de receber mercadorias incluindo atravez de da leitura do codigo de barras ,incluido assim em um banco de dados que fará a contagem da mercadoria e exibindo em tela a quantidade disponivel em estoque sendo atualizado a cada movimentaçao,e tbm no momento da retirada da mercadoria o proprio sistema atuará para atualizar o banco de dasdos.

            A leitura podera ser feita a partir de um aparelho celular por um mobileapp que irá mandar informações online para o sistema facilitando a inclusao de dados atravez da camera que registrará  o codigo de barras.

            O sistema busca empregar rapidez aos processos citados com a facilidade de um smartphone em mãos

            Disponivel nas plataformas de windows microfoft,linux e android o sistema pode oferecer o arquivamento em nuvem para que a quantidade de dados não afete a memoria interna do sistema.
        </p>
        @*<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>*@
    </div>
</body>


