@{
    Layout = null;
    <link href="~/Content/login/css/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/global_assets/images/logo_icon_dark.png" rel="shortcut icon" />
    <title>Login - MCSS</title>
}

<body class="background-img">
    <div id="login">
        <div class="login-tabela">
            <form action="/home/index" method="post">
                <h2 class="titulo text-center">mcss</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuário" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" required="required">
                </div>
                <div class="form-group">
                    <button id="entrar" type="submit" class="btn btn-outline-info btn-block">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</body>

@section css{
    <link rel="stylesheet" href="~/Views/Login/css/Login.css" />
}